<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <h1>Edit your listing</h1>
                <form method="post" action="/listings/<%= listing._id %>?_method=put" novalidate
                    class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" value="<%= listing.title %>" placeholder="Add a catchy title"
                            type="text" class="form-control" required>
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Enter the Title name.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" placeholder="enter description" type="text" required
                            class="form-control"><%= listing.description %></textarea>
                        <div class="valid-feedback">
                            Description Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Enter short Description.
                        </div>
                    </div>
                    <div>
                        <p> Original Listing Image</p>
                        <img src="<%= originalImageUrl %>">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input name="listing[image]" type="file" class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" value="<%= listing.price %>" placeholder="1200"
                                class="form-control" required>
                            <div class="valid-feedback">
                                Price Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Enter the Price.
                            </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input name="listing[country]" value="<%= listing.country %>" placeholder="USA" type="text"
                                class="form-control" required>
                            <div class="valid-feedback">
                                Country Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Enter the Country.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" value="<%= listing.location %>" placeholder="enter location"
                            type="text" class="form-control" required>
                        <div class="valid-feedback">
                            Location Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Enter the Location name.
                        </div>
                    </div>

                    <br>
                    <button class="btn btn-dark add-btn">Edit</button>
                    <br> <br> <br>
                </form>
            </div>
        </div>
    </body>